<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Desafio</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <figure >Logo</figure>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Profesores</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </section>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam illo commodi asperiores praesentium itaque ullam beatae voluptatum facere laborum velit, iusto unde quis temporibus at dicta suscipit quos, quo quaerat.
            Obcaecati beatae expedita quas eum accusamus, nesciunt, dolorem officia incidunt, similique pariatur iusto quia corporis veritatis! Qui veniam maiores saepe, numquam fugiat voluptatem quo sapiente dolore molestiae ut dolor itaque.
            Dignissimos architecto, assumenda itaque iusto error, reprehenderit molestias numquam ab harum doloremque laudantium ipsum ad sunt facere quia laborum quos consequatur repudiandae nisi iure vitae ut neque repellendus. Reprehenderit, labore?
            Quod voluptatum illum veniam hic tempore veritatis, nulla dolores, ipsa id laborum amet! Repellat consequuntur harum sunt exercitationem aut laboriosam, consectetur itaque dolor deserunt, tempora eligendi doloremque nihil consequatur repudiandae.
            Quas tempora autem perferendis nam modi in ratione alias tenetur beatae sint, iusto laudantium repellat qui nemo molestias? Fugit, fuga. Debitis molestias iste incidunt laborum laboriosam accusamus veritatis ut nulla?
            Nam doloribus rem, saepe assumenda suscipit, vel cumque laudantium odio a cupiditate veniam accusamus porro beatae consectetur id dolorum reiciendis. Quia, quos voluptatibus. Esse repellendus consequuntur quibusdam sequi debitis ex!
            Placeat voluptatibus minima assumenda quod. Dolores, illo esse. Vitae praesentium unde sequi. Aperiam quaerat ratione molestiae culpa commodi ducimus, accusantium nisi distinctio eveniet eligendi, in ea amet. Accusamus, tempore minima!
            Tenetur, officia. Quaerat unde sapiente dolore amet quos debitis aperiam deserunt officiis totam. Corporis illo necessitatibus explicabo, provident sit neque excepturi dolores tenetur omnis, natus, ipsam inventore repellendus sequi pariatur!</p>
        </article>
    </main>
    <footer>
        <p>Redes Sociales: </p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">tiktok</a></li>
        </ul>

    </footer>
</body>
</html>